.navigTop {
    background-color: rgb(61, 61, 61);
    position: fixed;
    height: 8rem;
    width: 80rem;
    margin-left: -1rem;
    margin-top: -2rem;
    border-bottom: 8px black solid;

}

.h1InAboutUs {
    position: relative;
    color: rgb(246, 252, 252);
    left: 2ch;
    top: 3.5ch;
    font-size: 30px;
    font-family: 'Chivo Mono', monospace;
}

